/* Clase IN */
.in {
    background: #55a8fd;
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: in;
    border-radius: 4px;
}
