/* Clase RE */
.re {
    background: #55a8fd;
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: re;
    border-radius: 4px;
}